section.contacts
  h2.contacts__title  Остались вопросы?<br> Свяжитесь с нами!
  .contacts__inner
    .contacts__info
      b.contacts__info-title  Звоните:
      a.contacts__info-text(href='tel:+78125556666')  +7 (812) 555-66-66
    .contacts__info
      b.contacts__info-title  Пишите:
      a.contacts__info-text(href='mailto:mail@htmlacademy.ru')  mail@htmlacademy.ru
    .contacts__info
      b.contacts__info-title  Приезжайте в гости:
      address.contacts__info-text  ул. Большая Конюшенная, 19/8
