.features
  .features__items
    section.features__item.features__item--1
      h4.features__item-title  Поднимает настроение
      p.features__item-info Приложение позволит вам победить осеннюю хандру и деперессию буквально в несколько кликов!
    section.features__item.features__item--2
      h4.features__item-title  Меняет мир вокруг
      p.features__item-info Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект!
    section.features__item.features__item--3
      h4.features__item-title  Заводит новых друзей
      p.features__item-info Ставьте лайки, комментируте, делитесь фотографиями с друзьями и заводите новых!
