.time
  section.time__content
    h3.time__title Эффект на 24 часа!
    p.time__info
      | Британские ученые провели исследования и доказали, что положительный эффект
      | от использования приложения длится целые сутки!
    a.time__link(href='#') Узнать больше об исследовании
