-
  var galleryItems = [
    {
      "imgwebp": "img/photo-1.webp",
      "img": "img/photo-1.jpg",
      "alt": "photo-1",
      "name": "Левон",
      "date": "(5 часов назад)",
      "datetime": "2017-03-24T15:18:20",
      "count": "356",
      "text": "Вчера он на луну летал, сегодня в руки к нам попал."
    },
    {
      "imgwebp": "img/photo-2.webp",
      "img": "img/photo-2.jpg",
      "alt": "photo-2",
      "name": "Антон",
      "date": "(12 часов назад)",
      "datetime": "2017-03-24T15:18:20",
      "count": "667",
      "text": "Соседи будут рады!"
    },
    {
      "imgwebp": "img/photo-3.webp",
      "img": "img/photo-3.jpg",
      "alt": "photo-3",
      "name": "Борис",
      "date": "(20 часов назад)",
      "datetime": "2017-03-24T15:18:20",
      "count": "215",
      "text": "Здесь могла быть ваша цитата о высоком и вечном."
    },
    {
      "imgwebp": "img/photo-4.webp",
      "img": "img/photo-4.jpg",
      "alt": "photo-4",
      "name": "Сергей",
      "date": "(25 часов назад)",
      "datetime": "2017-03-24T15:18:20",
      "count": "4",
      "text": "Самая кубанская в мире!"
    },
    {
      "imgwebp": "img/photo-5.webp",
      "img": "img/photo-5.jpg",
      "alt": "photo-5",
      "name": "Максим",
      "date": "(40 часов назад)",
      "datetime": "2017-03-24T15:18:20",
      "count": "150",
      "text": "Где снег-то?"
    },
    {
      "imgwebp": "img/photo-6.webp",
      "img": "img/photo-6.jpg",
      "alt": "photo-6",
      "name": "Надежда",
      "date": "(45 часов назад)",
      "datetime": "2017-03-24T15:18:20",
      "count": "2560",
      "text": "Всем GM и взаимные лайки!"
    }
  ];
