-
  var mainMenu = [
    {
      "id": "1",
      "name": "Главная",
      "url": "index.html"
    },
    {
      "id": "2",
      "name": "Фотографии",
      "url": "photo.html"
    },
    {
      "id": "3",
      "name": "Конкурс",
      "url": "form.html"
    },
    {
      "id": "4",
      "name": "HTML academy",
      "url": "https://htmlacademy.ru/"
    }
  ];
