-
  var reviewSlide = [
    {
      "title": "Николай Петров",
      "slogan": "25 лет, водитель",
      "info": "«Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»"
    },
    {
      "title": "Игорь Николаев",
      "slogan": "48 лет, инженер",
      "info": "«Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»"
    },
    {
      "title": "Елена Пирожкова",
      "slogan": "26 лет, домохозяйка",
      "info": "«Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»"
    },
  ];
