// В этом файле должны быть стили для БЭМ-блока burger, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.burger {
  position: relative;
  display: inline-block;
  width: 50px;
  line-height: 30px;
  padding: 0;
  z-index: 1;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;

  &:hover > span {
    background: $pink;

    &:before,
    &:after {
      background: $pink;
    }
  }

  &:active > span {
    opacity: 0.3;
  }

  > span {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 0;
    width: 100%;
    height: $toggler-part-height;
    font-size: 0;
    color: transparent;
    background: $white;
    transition: background $transition-time, transform $transition-time;

    &:before,
    &:after {
      position: absolute;
      content: '';
      left: 0;
      width: 100%;
      height: 100%;
      background: $white;
      transition: transform $transition-time, background $transition-time;
    }

    &:before {
      transform: translateY(-10px);
    }

    &:after {
      transform: translateY(10px);
    }
  }
}

.burger--close {
  transform: rotate(45deg);

  > span {
    &:before,
    &:after {
      transform: rotate(90deg);
    }
  }
}
