// В этом файле должны быть стили для БЭМ-блока field-checkbox, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.field-checkbox {
  $block-name: &; // #{$block-name}__element

  @media (min-width: $screen-lg) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.field-checkbox__item {
  line-height: 0;
  margin-bottom: 52px;
}

.field-checkbox__content {
  position: relative;
  display: inline-block;
}

.field-checkbox__input {
  position: absolute;
  top: 50%;
  left: 0.8em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transform: translateY(-50%);

  &:focus,
  &:active {
    @include field-focus;
  }

  &:checked + .field-checkbox__text:after {
    opacity: 1;
  }
}

.field-checkbox__text {
  display: inline-block;
  line-height: 30px;
  padding-left: 70px;

  @media (min-width: $screen-lg) {
    padding-left: 50px;
  }

  &:before {
    position: absolute;
    content: '';
    top: -2px;
    left: 0;
    width: 34px;
    height: 34px;
    background: $white;
    border: 2px solid $gray;
    //transition: border-color $transition-time;
  }

  &:hover:before {
    border: 2px solid $blue;
  }

  &:active:before {
    border: 2px solid $pink;
  }

  &:after {
    position: absolute;
    content: '';
    top: 8px;
    left: 6px;
    width: 22px;
    height: 16px;
    opacity: 0;
    background: url('../img/icon-yes-form.svg') no-repeat;
    transition: opacity $transition-time;
  }
}

.field-checkbox__item--1 {
  @media (min-width: $screen-lg) {
    flex-basis: 260px;
  }
}

.field-checkbox__item--2 {
  @media (min-width: $screen-lg) {
    flex-basis: 260px;
    order: 4;
  }
}

.field-checkbox__item--3 {
  @media (min-width: $screen-lg) {
    flex-basis: 240px;
    order: 2;
  }
}

.field-checkbox__item--4 {
  @media (min-width: $screen-lg) {
    flex-basis: 240px;
    order: 5;
  }
}

.field-checkbox__item--5 {
  @media (min-width: $screen-lg) {
    flex-basis: 200px;
    order: 3;
  }
}

.field-checkbox__item--6 {
  @media (min-width: $screen-lg) {
    flex-basis: 200px;
    order: 6;
  }
}
