//-
  ВНИМАНИЕ! Этот файл генерируется автоматически.
  Любые изменения этого файла будут потеряны при следующей компиляции.
  Любое изменение проекта без возможности компиляции ДОЛЬШЕ И ДОРОЖЕ в 2-5 раз.

include ../../blocks/btn/btn.pug
include ../../blocks/burger/burger.pug
include ../../blocks/download/download.pug
include ../../blocks/field-checkbox/field-checkbox.pug
include ../../blocks/field-radio/field-radio.pug
include ../../blocks/field-range/field-range.pug
include ../../blocks/field-text/field-text.pug
include ../../blocks/form/form.pug
include ../../blocks/gallery/gallery.pug
include ../../blocks/logo/logo.pug
include ../../blocks/main-menu/main-menu.pug
include ../../blocks/modal/modal.pug
include ../../blocks/photo/photo.pug
include ../../blocks/review/review.pug
include ../../blocks/social/social.pug
