// В этом файле должны быть стили для БЭМ-блока features, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.features {
  $block-name: &; // #{$block-name}__element

  background: $lightgray url('../img/bg-triangle-white.svg') no-repeat top;
  background-size: 100% auto;
}

.features__items {
  @include container();

  position: relative;
  overflow: hidden;
  padding-top: 85px;
  padding-bottom: 278px;

  @media (min-width: $screen-md) {
    padding-bottom: 0;
    padding-left: 50%;

    &::before {
      display: none;
    }

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 20px;
      width: 268px;
      height: 481px;
      background-image: url('../img/iphone-screen-3-tablet@1x.png');
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: 268px auto;

      @media #{$retina} {
        background-image: url('../img/iphone-screen-3-tablet@2x.png');
      }
    }
  }

  @media (min-width: $screen-lg) {
    display: flex;
    justify-content: space-around;
    padding-top: 0;
    padding-left: 20px;

    &::after {
      display: none;
    }
  }

  &::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    width: 157px;
    height: 278px;
    background-image: url('../img/iphone-screen-mobile-3@1x.png'), url('../img/iphone-case-mobile@1x.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center bottom, center bottom;
    background-size: 142px auto, 157px auto;
    transform: translateX(-50%);

    @media #{$retina} {
      background-image: url('../img/iphone-screen-mobile-3@2x.png'), url('../img/iphone-case-mobile@2x.png');
    }
  }
}

.features__item {
  text-align: center;

  @media (min-width: $screen-md) {
    text-align: left;
  }

  @media (min-width: $screen-lg) {
    position: relative;
    max-width: 235px;
    padding-top: 360px;
    text-align: center;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      width: 292px;
      height: 302px;
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 292px auto;
      transform: translateX(-50%);
    }
  }
}

.features__item--1::before {
  @media (min-width: $screen-lg) {
    background-image: url('../img/iphone-screen-1-desktop@1x.png');

    @media #{$retina} {
      background-image: url('../img/iphone-screen-1-desktop@2x.png');
    }
  }
}

.features__item--2::before {
  @media (min-width: $screen-lg) {
    background-image: url('../img/iphone-screen-2-desktop@1x.png');

    @media #{$retina} {
      background-image: url('../img/iphone-screen-2-desktop@2x.png');
    }
  }
}

.features__item--3::before {
  @media (min-width: $screen-lg) {
    background-image: url('../img/iphone-screen-3-desktop@1x.png');

    @media #{$retina} {
      background-image: url('../img/iphone-screen-3-desktop@2x.png');
    }
  }
}

.features__item-title {
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $screen-lg) {
    margin-bottom: 25px;
  }
}

.features__item-info {
  font-weight: 300;
  margin: 0;
  padding-bottom: 35px;

  @media (min-width: $screen-md) {
    font-size: $font-size-sm;
  }

  @media (min-width: $screen-lg) {
    font-size: $font-size;
    line-height: $line-height;
  }
}
